@charset "UTF-8";
/* резет команды */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
    /* плавный скрол */
    scroll-behavior: smooth;
    /* скрытие горизонтального скрола */
    overflow-x: hidden;
    background-color: beige;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
  text-decoration: none;
}
/* Безопасные шрифты
font-family: "Arial";
font-family: "Times New Roman";
font-family: "Courier New";
font-family: "Courier";
font-family: "Verdana";
font-family: "Georgia";
font-family: "Palatino";
font-family: "Garamond";
font-family: "Bookman";
font-family: "Tahoma";
font-family: "Trebuchet";
font-family: "Arial Black";
font-family: "Impact";
font-family: "Comic Sans MS";
 */
h1{
    font-size: clamp(1.5rem, 8vw - 2rem, 4rem); /*отзывчивый текст(крутая штука в SASS не работает)*/
    text-align: center;
    font-weight: 800;
}
h2{
  color: aliceblue;
}
/* h3{} */
/* h4{} */
/* h5{} */
/* h6{} */
p{
  color: aliceblue;
  font-size: 1rem;
}
/* span{} */
.conteiner{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}
.blok{
  /* min-width: 300px; */
  width: 400px;
  height: 400px;
  border-radius: 1.5625rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px;
  transition: .4s;
}
/* .blok{
  width: 300px;
  height: 400px;
  border-radius: 1.5625rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px;
  transition: .4s;
} */
.blok:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px;
}
.imges{
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
img{
  width: 100%;
  object-fit:cover;
}
.shadow-text{
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  min-height: 70%;
  background: linear-gradient(0deg, rgb(0 0 0) 0%, rgb(0 0 0 / 76%) 56%, rgb(0 0 0 / 0%) 100%);
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding: 1rem;
}

