.cart {
    width: 400px;
    height: 350px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /* border: 1px solid; */
    padding: 0 0 20px 0;
    gap: 1em;
    box-shadow:  0 0 8px 1px rgba(0, 0, 0, 0.349) ;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    &:hover{
        transition: all .3s;
        box-shadow: 10px 10px 0;
        transform: translate(-5px,-5px);
    }
}
.cart__img {
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.cart__title, .cart__p, .cart__time{
    padding: 0 10px;
    color: rgb(50, 50, 50);
}
.cart__time{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.cart__more a{
    text-decoration: none;
    background-color: #192C2D;
    color: #fafafa;
    padding: .4rem .8rem;
    border-radius: 10px;
}
