.cart {
    width: 400px;
    min-height: 350px;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /* border: 1px solid; */
    padding: 0 0 20px 0;
    gap: 1em;
    box-shadow:  0 0 8px 1px rgba(0, 0, 0, 0.349) ;
    border-radius: 20px;
    transition: all .3s ease-out;
    &:hover{
        box-shadow:  0 0 15px 1px rgb(0, 0, 0) ;
    }
}

.cart__img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
}
.cart__title, .cart__p, .cart__time{
    padding: 0 10px;
}
.cart__time{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}
.cart__more a{
    text-decoration: none;
    background-color: #3EA0EB;
    color: #fff;
    padding: .4rem .8rem;
    border-radius: 10px;
    transition: all .4s;
    &:hover{
        // background-color: rgb(0, 0, 0);
    }
}
.reklama{
    width: 400px;
    height: 350px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow:  0 0 8px 1px rgba(0, 0, 0, 0.349) ;
}
.reclama-img, .reklama-text, .reclama-fon{
    position: absolute;
}
.reclama-img{
    width: 40%;
    right: 0;
    bottom: 0;
}
.reclama-fon{
    width: 100%;
    height: 100%;
}
.reklama-text{
    bottom: 100px;
    left: 50px;
    font-size: 20px;
}