header{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}
header nav ul{
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    padding: 10%;
}
header nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 5px;
}
.logo a{
    font-size: clamp(2rem, 8vw - 2rem, 3rem);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration:wavy;
}
.yzik{
    width: 32px;
    height: 32px;
}
.logo2{
    font-weight: 700;
    color: #879ff7;
}

nav{ 
    margin-top: .5rem;
    .menu-cart{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
        padding: .5rem;
        list-style: none;
        a{
            text-decoration: none;
            padding: .8rem;
            border-radius: 10px;
            // box-shadow: 0 0 5px rgba(241, 241, 241, 0.8);
            transition: all .3s;
            background-color: rgba(255, 255, 255, 0.775);
            font-weight: 500;
            
            color: rgb(23, 23, 23);


            &:hover{
                color: rgb(236, 236, 236);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
                background-color: rgba(109, 109, 109, 0.775);
            }
        }
    }
}