/* Безопасные шрифты
font-family: "Arial";
font-family: "Times New Roman";
font-family: "Courier New";
font-family: "Courier";
font-family: "Verdana";
font-family: "Georgia";
font-family: "Palatino";
font-family: "Garamond";
font-family: "Bookman";
font-family: "Tahoma";
font-family: "Trebuchet";
font-family: "Arial Black";
font-family: "Impact";
font-family: "Comic Sans MS";
 */
 h1{
    font-size: clamp(1.8rem, 8vw - 2rem, 4rem); /*отзывчивый текст(крутая штука в SASS не работает)*/
  }
  h2{}
  h3{}
  h4{}
  h5{}
  h6{}
  p{}
  span{}

  